# Result of autoconf
aclocal.m4
autom4te.cache
aclocal.m4
depcomp
install-sh
missing
compile
configure

# Result of ./configure
.deps
config.h
config.log
config.status
config.h.in
m6809-run
stamp-h1
/Makefile
Makefile.in

# Result of make
*.o

# Result of emacs edits
*~

# Result of autoreconf --install
INSTALL
COPYING